.home {
    --bd-black: #000000;
    --bd-black-rgb: 0, 0, 0;

    .bd-masthead {
        padding: 3rem 0;
        background-image: linear-gradient(to bottom, 
        rgba(var(--bd-black-rgb), 0.4), 
        rgba(var(--bd-black-rgb), 0.01) 40%)
        // linear-gradient(to top, rgba(var(--bd-black-rgb), 0.01))
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-black);
        --bs-btn-border-color: var(--bd-black);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: rgba(var(--bd-black-rgb), 1);
        --bs-btn-hover-bg: --bd-black;
        --bs-btn-hover-border-color: --bd-black;
        --bs-btn-focus-shadow-rgb: var(--bd-black-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: --bd-black;
        --bs-btn-active-border-color: --bd-black;
    }
}

.navbar {
    --bs-navbar-color: --bd-black-rbg;
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: --bd-black-rbg;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    padding: .75rem 0;
    background-color: var(--bd-black-rbg);
    background-image: linear-gradient(to bottom, rgba(var(--bd-black-rgb), .9), rgba(var(--bd-black-rgb), 0.85));
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
}

.text-black {
    color: var(--black);
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(-2deg) scale(1.1);
    }
}
